/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('fonts/proximanova-regular-webfont.woff2') format('woff2'),
         url('fonts/proximanova-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('fonts/proxima_nova_bold-webfont.woff2') format('woff2'),
         url('fonts/proxima_nova_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_altlight';
    src: url('fonts/proxima_nova_alt_light-webfont.woff2') format('woff2'),
         url('fonts/proxima_nova_alt_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body{
  font-family: 'proxima_nova_rgregular', sans-serif;
  font-weight: 100;
  background-color:#181818;
  overflow-x:hidden;
}

.open-slide {
  padding-top: 20px;
}
.globalnavbar{
  background-color:#121212;
  overflow:hidden;
  z-index:1;
  height:60px;
  box-shadow: 2px 2px 5px #111;
}

.globalnavbar a{
  float:left;
  display:block;
  color:#f2f2f2;
  text-align:center;
  padding:22px 16px;
  text-decoration:none;
  font-size:17px;
}

.globalnavbar ul{
  margin:2px 0 0 0;
  list-style:none;
}

.side-navmenu{
  height:100%;
  width:0;
  margin-top: 60px;
  position:fixed;
  z-index:0;
  top:0;
  left:0;
  background-color:#121212;
  opacity:0.9;
  overflow-x:hidden;
  padding-top:0px;
  transition:0.5s;
}
.side-navmenu .btn-closemenu a{
  top:0;
  right:22px;
  font-family: 'proxima_nova_altlight'
  font-weight:lighter;
  font-size:10px;
  margin-left:0;
}
.side-navmenu a{
  padding:10px 10px 10px 20px;
  text-decoration:none;
  font-family: 'proxima_nova_rgbold';
  font-size:16px;
  color:#a0a0a0;
  display:block;
  transition:0.3s;
}

.side-navmenu a:hover{
  color:#f32655;
}

.playlists a {
  padding:10px 10px 10px 20px;
  text-decoration:none;
  font-family: 'proxima_nova_rgregular';
  font-size:16px;
  color:#a0a0a0;
  display:block;
  transition:0.3s;
}

.misGrupos a {
align-content:space-between;}

.listaGrupos a {
  padding:10px 10px 10px 20px;
  text-decoration:none;
  font-family: 'proxima_nova_rgregular';
  font-size:16px;
  color:#a0a0a0;
  display:block;
  transition:0.3s;
}


h1 {
  color: #fff;
}
#Homecontent{
  transition:margin-left 0.5s;
  overflow:hidden;
  width:100%;
}
