/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('fonts/proximanova-regular-webfont.woff2') format('woff2'),
         url('fonts/proximanova-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('fonts/proxima_nova_bold-webfont.woff2') format('woff2'),
         url('fonts/proxima_nova_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_altlight';
    src: url('fonts/proxima_nova_alt_light-webfont.woff2') format('woff2'),
         url('fonts/proxima_nova_alt_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
  font-family: 'proxima_nova_rgregular', sans-serif;
  font-weight: 100;
  background-color:#181818;
  overflow-x:hidden;
}

.globalnavbar{
  background-color:#121212;
  overflow:hidden;
  height:63px;
}

.globalnavbar a{
  float:left;
  display:block;
  color:#f2f2f2;
  text-align:center;
  padding:14px 16px;
  text-decoration:none;
  font-size:17px;
}

.globalnavbar ul{
  margin:8px 0 0 0;
  list-style:none;
}

.side-navmenu{
  height:100%;
  width:0;
  margin-top: 60px;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  background-color:#111;
  opacity:0.9;
  overflow-x:hidden;
  padding-top:60px;
  transition:0.5s;
}

.side-navmenu a{
  padding:10px 10px 10px 30px;
  text-decoration:none;
  font-size:16px;
  color:#ccc;
  display:block;
  transition:0.3s;
}

.side-navmenu a:hover{
  color:#fff;
}

.side-navmenu .btn-closemenu{
  position:absolute;
  top:0;
  right:22px;
  font-size:36px;
  margin-left:50px;
}

h1 {
  color: #fff;
}
#main{
  transition:margin-left 0.5s;
  padding:20px;
  overflow:hidden;
  width:100%;
}
