/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url('fonts/proximanova-regular-webfont.woff2') format('woff2'), url('fonts/proximanova-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url('fonts/proxima_nova_bold-webfont.woff2') format('woff2'), url('fonts/proxima_nova_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_altlight';
  src: url('fonts/proxima_nova_alt_light-webfont.woff2') format('woff2'), url('fonts/proxima_nova_alt_light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'), url(https://example.com/MaterialIcons-Regular.woff) format('woff'), url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

[class*="col-"] {
  float: left;
  padding: 15px;
  border: 1px solid red;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

body {
  font-family: 'proxima_nova_rgregular', sans-serif;
  font-weight: 100;
  padding: 0;
  margin: 0;
  background-color: #181818;
  overflow-x: hidden;
  display: block;
}

.home {
  padding: 0 -15px 0 -15px;
  margin: 0 -15px 0 -15px;
  background-color: #181818;
  transition: margin-left 0.5s;
  overflow: hidden;
  width: 100%;
}

.container {
  background-color: #181818;
  padding: 0;
  margin-left: 0px;
  transition: margin-left 0.5s;
  overflow: hidden;
  width: 100%;
}

.container-fluid {
  background-color: #181818;
  transition: margin-left 0.5s;
  overflow: hidden;
  width: 100%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky+.home {
  padding-top: 60px;
}

.options {
  margin-left: 20px;
  background-color: #f9482a;
}

.open-slide {
  padding-top: 0px;
}

.globalnavbar {
  background-color: #121212;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  z-index: 10;
  height: 60px;
  box-shadow: 2px 2px 5px #111;
}

.globalnavbar a {
  float: left;
  display: flex;
  flex-direction: row;
  color: #f2f2f2;
  text-align: center;
  padding: 22px 16px;
  text-decoration: none;
  font-size: 17px;
}

.globalnavbar ul {
  margin: 2px 0 0 0;
  list-style: none;
}

.userInfo ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.userInfo button {
  margin-right: 1em;
  flex-wrap: nowrap;
  padding: 15px;
  background-color: #121212;
  color: #fff;
  -moz-border-color: transparent;
  -webkit-border-color: transparent;
  border-color: transparent;
}

.userInfo img {
  border-radius: 50%;
}

input[type=text] {
  width: 75%;
  color: #fff;
  margin-left: 3px;
  margin-top: 13px;
  background-color: #121212;
  -moz-border-color: transparent;
  -webkit-border-color: transparent;
  border-color: transparent;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  color: #fff;
}

.searchBar {
  height: 60px;
  width: 100%;
  margin-left: 17%;
  font-family: 'proxima_nova_rgregular', sans-serif;
  font-weight: 100;
  color: #e1dede;
}

.searchBar input {
  color: #e1dede;
}

.activitySideBar {
  width: 14%;
  height: 100%;
  margin-top: 60px;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 86%;
  border-width: medium;
  background-color: #121212;
  overflow-x: hidden;
  padding-top: 25px;
  transition: 0.5s;
}

.activitySideBar .btn-closemenu a {
  top: 0;
  right: 22px;
  font-family: 'proxima_nova_altlight' font-weight:lighter;
  font-size: 10px;
  margin-left: 0;
  margin-bottom: 60px;
}

.activitySideBar a {
  padding: 10px 5px 5px 20px;
  text-decoration: none;
  font-family: 'proxima_nova_rgbold';
  font-size: 16px;
  color: #a0a0a0;
  transition: 0.3s;
}

.activitySideBar .btn-closemenu {
  font-family: 'proxima_nova_altlight';
  margin-left: -10px;
  font-size: 16px;
}

.activitySideBar a:hover {
  color: #f32655;
  text-decoration: none;
}

.side-navmenu {
  height: 100%;
  margin-top: 60px;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: #121212;
  overflow-x: hidden;
  padding-top: 25px;
  transition: 0.5s;
}

.side-navmenu .btn-closemenu a {
  top: 0;
  right: 22px;
  font-family: 'proxima_nova_altlight' font-weight:lighter;
  font-size: 10px;
  margin-left: 0;
  margin-bottom: 60px;
}

.side-navmenu a {
  padding: 10px 5px 5px 20px;
  text-decoration: none;
  font-family: 'proxima_nova_rgbold';
  font-size: 16px;
  color: #a0a0a0;
  transition: 0.3s;
}

.side-navmenu .btn-closemenu {
  font-family: 'proxima_nova_altlight';
  font-size: 16px;
}

.side-navmenu a:hover {
  color: #f32655;
  text-decoration: none;
}

.side-navmenu .inicio {
  height: 40px;
  background: #181818;
  margin-top: 10px;
  color: #f32655 !important;
  border-right: 4px solid;
  border-color: -webkit-linear-gradient(0deg, #ee0979, #fc5c12);
  /* For Safari 5.1 to 6.0 */
  border-color: -o-linear-gradient(0deg, #ee0979, #fc5c12);
  /* For Opera 11.1 to 12.0 */
  border-color: -moz-linear-gradient(0deg, #ee0979, #fc5c12);
  border-color: linear-gradient(0deg, #ee0979, #fc5c12);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
}

.side-navmenu .inicioTab {
  background: #181818;
  font-family: 'proxima_nova_rgbold';
  color: #f32655 !important;
}

.side-navmenu ul {
  width: 210px;
  list-style: none;
}

.side-navmenu button {
  background: transparent;
  border: none;
  margin-left: -10px;
  text-decoration: none;
  font-family: 'proxima_nova_rgbold';
  font-size: 16px;
  color: #a0a0a0;
  transition: 0.3s;
}

.side-navmenu button:hover {
  color: #f32655;
  text-decoration: none;
  transition: 0.3s;
}

.playlists a {
  padding: 10px 10px 10px 20px;
  text-decoration: none;
  font-family: 'proxima_nova_rgregular';
  font-size: 16px;
  color: #a0a0a0;
  display: block;
  transition: 0.3s;
}

.listaGrupos a {
  text-decoration: none;
  font-family: 'proxima_nova_rgregular';
  font-size: 16px;
  color: #a0a0a0;
  display: block;
  overflow-x: hidden;
  transition: 0.3s;
}

.genres {
  margin-top: -470px;
  z-index: 100;
  display: flex;
  flex-direction: row;
}

.genres button {
  height: 37px;
  width: 165px;
  margin-left: 20px;
  background-color: transparent;
  -moz-border-color: #ee0979;
  -webkit-border-color: #ee0979;
  border-color: #ee0979;
  border-width: 1px;
  border-style: solid;
  color: #fff;
  font-family: 'proxima_nova_rgbold' -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  align-content: center;
  flex: 0 1 auto;
}

.movieInit {
  width: 100%;
  height: 500px;
  display: flex;
}
.lastMovie {
  width: 100%;
  height: 500px;
  display: flex;
}

.genres button:hover {
  background: -webkit-linear-gradient(90deg, #ee0979, #fc5c12);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(90deg, #ee0979, #fc5c12);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(90deg, #ee0979, #fc5c12);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(90deg, #ee0979, #fc5c12);
  -moz-border-color: transparent;
  -webkit-border-color: transparent;
  border-color: transparent;
  transition: 0.3s;
}

.genres button.selected {
  background: -webkit-linear-gradient(90deg, #ee0979, #fc5c12);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(90deg, #ee0979, #fc5c12);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(90deg, #ee0979, #fc5c12);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(90deg, #ee0979, #fc5c12);
  -moz-border-color: transparent;
  -webkit-border-color: transparent;
  border-color: transparent;
  transition: 0.3s;
}

.lastMovieContent {
  margin: 10%;
  margin-top: 40px;
  margin-left: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-between;
  align-items: center;
}

.lastMovieContent a {
  order: 0;
  flex: 0 1 auto;
  align-self: center;
  padding: 20px;
  color: #fff;
  font-size: 150;
}

.material-icons.md-160 {
  font-size: 160px;
}

.material-icons.md-100 {
  font-size: 100px;
}

.material-icons.md-30 {
  font-size: 30px;
}

.lastMovieContent .movieInfo {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  margin-left: 60px;
}

.movieBtns {
  margin-top: 50px;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: middle;
}

.movieBtns li {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.movieBtns li a {
  padding: 0;
  margin-right: 100%;
}

.movieBtns button {
  height: 37px;
  width: 165px;
  color: #fff;
  font-size: 17px;
  font-family: 'proxima_nova_rgbold';
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  align-content: center;
  flex: 0 1 auto;
  background: -webkit-linear-gradient(90deg, #ee0979, #fc5c12);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(90deg, #ee0979, #fc5c12);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(90deg, #ee0979, #fc5c12);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(90deg, #ee0979, #fc5c12);
  -moz-border-color: transparent;
  -webkit-border-color: transparent;
  border-color: transparent;
  transition: 0.3s;
}

h1, p, h2 {
  color: #fff;
}

.grupos {
  margin-top: 15px;
}

h3 {
  font-family: 'proxima_nova_rgbold';
  color: #a0a0a0;
}

h1 {
  font-family: 'proxima_nova_rgbold';
  font-size: 40px;
}

.lastMovieContent h1 {
  width: 80%;
}

h2 {
  font-family: 'proxima_nova_rgbold';
  font-size: 20px;
}

p {
  width: 80%;
  font-family: 'proxima_nova_rgregular';
  font-size: 18;
}

.recentMovies {
  position: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  margin-top: -50px;
  margin-left: 15px;
}

.lastMovie img {
  display: block;
  width: 100%;
  align-self: flex-start;
  height: auto;
}

.rm_movies .tercer {
  display: flex;
  flex-direction: row;
}

.m3 {
  background: #fff;
  width: 250px;
  height: 150px;
  margin-right: 750px;
}

.rm_movies ul {
  display: flex;
  list-style: none;
  margin-top: 15px;
  flex-direction: row;
}

.more_movies, .directores {
  margin-top: 20px;
  margin-left: 15px;
  width: 100%;
  padding: 20px;
}

.movies_more ul {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  list-style: none;
  align-content: space-between;
  align-items: center;
  1
}

.food {
  width: 210px;
  height: auto;
  margin-right: 15px;
}

.more_m {
  width: 200px;
  height: 300px;
  display: flex;
  background: #fff;
  margin-right: 16px;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.2;
  transition: .5s ease;
  background-color: #000;
}

.more_m:hover .overlay {
  opacity: 0.5;
}

.play {
  position: absolute;
  color: #fff;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transition: .5s ease;
}

.overlay .play:hover {
  opacity: 100;
}

.listaGenero div.img {
  align-self: center;
}

.listaGenero img {
  height: 300px;
  position: relative;
  right: 110px;
}

.dir img {
  align-self: center;
  border-radius: 100%;
  border-width: 2px;
  border-color: #f32655;
}

.director {
  margin-top: 40px;
  margin-left: -5px;
  padding-left: 0px;
  width: 100%;
  height: auto;
  background-image: url(resources/pelis/wesback.png);
  padding: 20px;
}

.directores {
  margin-top: -670px;
  padding-left: 35px;
  width: 100%;
  height: auto;
  background-image: url(resources/pelis/wesback.png);
  padding: 20px;
}

.directores h1 {
  padding: 10px;
}

.directores p {
  width: 90%;
  padding-left: 10px;
}

.wes {
  width: 150px;
  height: 220px;
}

.directores .more_movies {
  align-self: center;
}

.backg img {
  margin-left: -30px;
}

.logo {
  margin-top: -20px;
  width: 120px;
  height: 65px;
}

.avatar {
  width: 5%;
  height: 5%;
}

#Homecontent {
  margin-left: 13%;
  transition: margin-left 0.5s;
  overflow: hidden;
  width: 73%;
}

.more_m:hover {
  opacity: 5;
}

.footer {
  background: #121212;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 10px 0 0;
}

.footer .logoschild {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.footer .logos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  width: 50px;
  margin: 10px 0 0 0;
}

.footer .log {
  padding: 5px;
}

.footer p {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 320px;
  padding-bottom: 10px;
}


@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */

}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}
